<form
  [formGroup]="registerForm"
  (ngSubmit)="registerSubmitted()"
  spellcheck="false"
>
  <div class="row">
    <div class="col text-center mb-3 bg-light">
      <span class="fs-3">Register</span>
    </div>
  </div>

  <div class="row">
    <!-- First name input -->
    <div class="col mb-2">
      <label for="firstname" class="form-label" style="font-weight: bold"
        >First name</label
      >
      <input
        type="text"
        class="form-control"
        id="firstname"
        placeholder="enter your first name here"
        formControlName="firstname"
      />
      <div
        *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        First name cannot be empty
      </div>

      <div
        *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Not a valid first name
      </div>
    </div>
    <!-- Last name input -->
    <div class="col mb-2">
      <label for="lastname" class="form-label" style="font-weight: bold"
        >Last name</label
      >
      <input
        type="text"
        class="form-control"
        id="lastname"
        placeholder="enter your last name here"
        formControlName="lastname"
      />
      <div
        *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Last name cannot be empty
      </div>

      <div
        *ngIf="LastName.errors?.['pattern'] && (LastName.touched || LastName.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Not a valid last name
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Email address input -->
    <div class="col mb-2">
      <label for="email" class="form-label" style="font-weight: bold"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="enter your email here"
        formControlName="email"
      />

      <div
        *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Email cannot be empty
      </div>

      <div
        *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Not a valid email ID
      </div>
    </div>
  </div>

  <!-- Mobile no input -->
  <div class="row">
    <div class="col">
      <label for="mobile" class="form-label" style="font-weight: bold"
        >Mobile number</label
      >
      <input
        type="text"
        class="form-control"
        id="mobile"
        placeholder="enter your mobile no. here"
        formControlName="mobile"
      />
      <div
        *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Mobile no. cannot be empty
      </div>

      <div
        *ngIf="(Mobile.errors?.['minlength'] || Mobile.errors?.['maxlength']) && (Mobile.touched || Mobile.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Mobile no length should be of 10 digits
      </div>

      <div
        *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched || Mobile.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Not a valid mobile no.
      </div>
    </div>

    <!-- Gender input -->

    <div class="col">
      <div class="m-1" style="font-weight: bold">Gender</div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-inline"
          value="m"
          id="male"
          name="gender"
          formControlName="gender"
        />
        <label for="male" class="form-check-label">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-inline"
          value="f"
          id="female"
          name="gender"
          formControlName="gender"
        />
        <label for="female" class="form-check-label">Female</label>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Password input -->
    <div class="col mb-2">
      <label for="pwd" class="from-label" style="font-weight: bold"
        >Password</label
      >
      <input
        type="password"
        class="form-control"
        id="pwd"
        placeholder="enter your password here"
        formControlName="pwd"
        [ngClass]="{ 'is-valid': !PWD.errors }"
        [ngClass]="{ 'is-invalid': PWD.errors && PWD.touched }"
      />

      <div
        *ngIf="PWD.errors?.['required'] && (PWD.touched || PWD.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Password cannot be empty
      </div>

      <div
        *ngIf="PWD.errors?.['pattern'] && (PWD.touched || PWD.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Not a valid password
      </div>
    </div>

    <!-- Repeat password input -->
    <div class="col mb-2">
      <label for="rpwd" class="from-label" style="font-weight: bold"
        >Repeat password</label
      >
      <input
        type="password"
        class="form-control"
        id="rpwd"
        placeholder="repeat the password here"
        formControlName="rpwd"
        [ngClass]="{ 'is-valid': !RPWD.errors }"
        [ngClass]="{ 'is-invalid': RPWD.errors && RPWD.touched }"
      />

      <div
        *ngIf="RPWD.errors?.['required'] && (RPWD.touched || RPWD.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Password cannot be empty
      </div>

      <div
        *ngIf="PWD.value != RPWD.value && (RPWD.touched || RPWD.dirty)"
        class="form-text"
        style="font-size: 13px; color: rgba(238, 84, 94, 0.882)"
      >
        Password does not match, yet
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
